<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>366120403747-ciap39fjqv5c5m4gvr5d71hui1ash1q5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.366120403747-ciap39fjqv5c5m4gvr5d71hui1ash1q5</string>
	<key>API_KEY</key>
	<string>AIzaSyAV926RZtCF68sbyFx8mSn53MqLi5C8tCE</string>
	<key>GCM_SENDER_ID</key>
	<string>366120403747</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mobi.devsteam.audiotales</string>
	<key>PROJECT_ID</key>
	<string>tales-fbb19</string>
	<key>STORAGE_BUCKET</key>
	<string>tales-fbb19.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:366120403747:ios:974653d02b792c17218296</string>
	<key>DATABASE_URL</key>
	<string>https://tales-fbb19.firebaseio.com</string>
</dict>
</plist>